/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

.logospotify {
    width: 100px;
    height: 40px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}
.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav a{
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: flex-end;
} 
    
.main {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.question{
    text-align: center;
    text-decoration: underline;
    text-decoration-color:#00B172;
}

h3{
    color: #00B172;
}

.features{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.paragraphs{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.logos{
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100x;
	height: 100px;
}
.greenblock{
    color: #FFF;
    background-color: #00B172 ;
    position: absolute;
  height: 100%;
  width: 100%;
  left: 10%;
  margin-bottom: 100px;
  background: #00D1AE;
  float: right;
  height: 390px;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  width: 80%;
  margin-bottom: 100px;
}

.kanyewest{
    text-decoration: underline;
    color:#FFF ;
    display: flex;
    justify-content: right;
    margin: 23px 5px;
    
}

.spotifyscreen{
    height: 400px;
    float: right;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    position: absolute;
    top: 25px;left: 1200px;
}

.spotifylogo {
    display: flex;
    width: 100x;
	height: 100px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 200px;right: 700px;
}


